[submodule "Android/Lib/drag-sort-listview"]
	path = Android/Lib/drag-sort-listview
	url = https://github.com/bauerca/drag-sort-listview.git
	ignore = dirty
[submodule "Android/Lib/ActionBarSherlock"]
	path = Android/Lib/ActionBarSherlock
	url = https://github.com/JakeWharton/ActionBarSherlock
	ignore = dirty
[submodule "Android/Lib/Android-ViewPagerIndicator"]
	path = Android/Lib/Android-ViewPagerIndicator
	url = https://github.com/JakeWharton/Android-ViewPagerIndicator.git
	ignore = dirty
