<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css" href="static/style.css" />
    <link rel="icon" type="image/png" href="static/icon.png" />
    
    <title>IrssiNotifier</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

    <script>
        function wipe() {
            var answer = confirm("Wipe all user data?");
            if (answer) {
                $.post("/API/Wipe", { }, function(data) {
                    window.location.replace('{{ logout_url }}');
                });
            }
        }

        function update(checkbox, name, token) {
            var enabled = checkbox.checked ? 1 : 0;
            $.post("/API/Settings", { "Name": name, "RegistrationId": token, "Enabled": enabled }, function(data) {
                alert("Device " + name + (checkbox.checked ? " enabled." : " disabled."));
            });
        }

        function toggle(c) {
            $(c).toggle('fast');
        }
    </script>

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-29331277-1']);
        _gaq.push(['_trackPageview']);
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>

</head>
<body>
    <h1>IrssiNotifier</h1>
    
    <h2>Android client status</h2>
    {% if c2dmtokencount != 0 %}
    <p>Android device(s) <span class="working">confirmed as working.</span> Registered device count: {{ c2dmtokencount }}</p>
    
    <div id="devices" style="display: none;">
    <h3>Registered devices:</h3>
    <ul>
    {% for token in tokens %}
        <li><input type="checkbox" {% if token.enabled %}checked="checked"{% endif %} onclick="update(this, '{{ token.name }}', '{{ token.c2dm_token }}');" />{{ token.name }}</li>
    {% endfor %}
    </ul>
    </div>
    <p><a onclick="toggle('#devices');" href="javascript:void(0)">Show/hide device list</a></p>
    
    {% else %}
    <p>Android device <span class="broken">not confirmed as working.</span></p>
    {% endif %}
    <p><a href="http://TODO">Market link for Android app.</a></p> 

    <h2>Irssi script status</h2>
    {% if irssiworking %}
    <p>Irssi script <span class="working">confirmed as working.</span></p>
    <div id="instructions" style="display: none;">
    {% else %}
    <p>Irssi script <span class="broken">not confirmed as working.</span></p>
    
    <div id="instructions">
    {% endif %}
        Instructions: <br />
        1) Get and run android app <br />
        2) Download irssi script by copying and pasting the following command to your shell (don't mind any "File exists" -errors):
        <div class="block">mkdir -p ~/.irssi/scripts/autorun; wget http://irssinotifier.appspot.com/script/irssinotifier.pl -O ~/.irssi/scripts/irssinotifier.pl; ln -s ~/.irssi/scripts/irssinotifier.pl ~/.irssi/scripts/autorun/irssinotifier.pl</div>
        3) Load irssi script by typing the following command to irssi
        <div class="block">/script load irssinotifier</div>
        4) Set api token in irssi <br />
        <div class="block">/set irssinotifier_api_token {{ user.api_token }}</div>
        5) Optional: Change your encryption password with the following command. You'll have to change the password to the Android device, too.
        <div class="block">/set irssinotifier_encryption_password password</div>
        6) Query yourself to see if it works (this instruction text should disappear after refreshing) <br />
    </div>
    <p><a onclick="toggle('#instructions');" href="javascript:void(0)">Show/hide Irssi script instructions</a></p>
    
    <h2>Additional Irssi commands</h2>
    <div id="commands" style="display: none;">
        <div class="block">/set require_idle_seconds [second count]</div>
        When set to more than 0, you will not be notified from events that occur between going idle (i.e. not pressing any keys) and the set second count after that.
        <div class="block">/set irssinotifier_away_only [ON or OFF]</div>
        When set to ON, notifications will only be sent if you are away. Useful in combination with <a href="http://scripts.irssi.org/scripts/screen_away.pl">screen_away script</a>. 
        <div class="block">/set irssinotifier_ignore_active_window [ON or OFF]</div>
        When set to ON, notifications will NOT be sent from the Irssi window currently open. Be aware that if you forget window open while detaching your screen, you will not get notifications from that channel. 
    </div>
    <p><a onclick="toggle('#commands');" href="javascript:void(0)">Show/hide Irssi commands</a></p>

    <h2>Troubleshooting</h2>
    <div id="troubleshooting" style="display: none;">
        <p class="question">Notifications work only every now and then!</p>
        <p class="answer">Every device added to the system has certain limits for the amount of push notifications they can receive (about 20 per hour), which are reset gradually. Use above Irssi commands to reduce amount of wasteful messages sent to you. Also, notifications might be blocked by firewall if you use wi-fi. Furthermore, sometimes Android push notifications have unexpected delays, and some messages may even get lost.</p>

        <p class="question">I'm getting decryption errors on my Android device!</p>
        <p class="answer">Check that the Android device has the same encryption password as the Irssi script. Instructions to set the Irssi script encryption key are above. On Android, just go to the settings menu.</p>

        <p class="question">Help!</p>
        <p class="answer">If you need more info, drop by #irssinotifier @ IRCnet or drop me a line at <a href="mailto:murgo@iki.fi">murgo@iki.fi</a>.</p>
    </div>
    <p><a onclick="toggle('#troubleshooting');" href="javascript:void(0)">Show/hide troubleshooting</a></p>

    <h2>Misc</h2>
    <p><a onclick="wipe();" href="javascript:void(0)">Wipe all data!</a></p>

    <p><a href="{{ logout_url }}">Log out</a></p> <br />
</body>
</html>
