<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fi.iki.murgo.irssinotifier"
    android:versionCode="7"
    android:versionName="1.2" >
    
   <!-- Only this application can receive the messages and registration result --> 
   <permission android:name="fi.iki.murgo.irssinotifier.permission.C2D_MESSAGE" android:protectionLevel="signature" />
   <uses-permission android:name="fi.iki.murgo.irssinotifier.permission.C2D_MESSAGE" />

   <!-- This app has permission to register and receive message -->
   <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
   <uses-permission android:name="android.permission.INTERNET" />
   <uses-permission android:name="android.permission.USE_CREDENTIALS" />
   <uses-permission android:name="android.permission.GET_ACCOUNTS" />
   <uses-permission android:name="android.permission.VIBRATE" />
   
   <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="15"/>

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" android:name="IrssiNotifierApplication">
        <activity
            android:launchMode="singleTask"
            android:name=".IrssiNotifierActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Sherlock" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".AboutActivity" android:label="@string/app_name">
        </activity>
        
        <activity android:name=".InitialSettingsActivity" android:label="@string/app_name">
		</activity>
        
        <activity android:name=".SettingsActivity" android:label="@string/app_name">
		</activity>
        
        <activity android:name=".ChannelSettingsActivity" android:label="@string/app_name">
        </activity>
        
        <receiver android:name=".C2DMReceiver">
            <!-- Receive the actual message -->
            <intent-filter>
                <action android:name="fi.iki.murgo.irssinotifier.NOTIFICATION_CLEARED" />
                <category android:name="fi.iki.murgo.irssinotifier" />
            </intent-filter>
        </receiver>
        
        <!-- Only C2DM servers can send messages for the app. If permission is not set - any other app can generate it --> 
		<receiver android:name=".C2DMReceiver" android:permission="com.google.android.c2dm.permission.SEND">
		    <!-- Receive the actual message -->
		    <intent-filter>
		        <action android:name="com.google.android.c2dm.intent.RECEIVE" />
		        <category android:name="fi.iki.murgo.irssinotifier" />
		    </intent-filter>
		    <!-- Receive the registration id -->
		    <intent-filter>
		        <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
		        <category android:name="fi.iki.murgo.irssinotifier" />
		    </intent-filter>
		</receiver>
    </application>

</manifest>