h2 {
	margin-top: 3em;
}

.question {
	margin-top: 1em;
	margin-bottom: 2px;
	font-size: 20px;
}

.answer {
	margin-top: 2px;
	margin-bottom: 1em;
}

.content {
	margin-top: 3em;
	width: 543px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

.center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.working {
	color: #30f030;
}

.broken {
	color: #f03030;
}

.debug {
	display:none;
}

.code-block {
	font-size: 0.75em;
	margin: 1em;
	background-color: #444444;
}

.g-plusone {
	margin-top: 48px;
}

a:link {
	color:#a0a0f0;
}

a:visited {
	color:#9090f0;
}

a:hover {
	color:#9999f0;
}

a:active {
	color:#a0a0ff;
}

body {
	font-family:Consolas,Courier;
	background-color: #072F5E; /* #084285; */
	color: #e0e0e0;
	text-align: center; 
}

img.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.navibutton {
	display: inline-block;
	width: 150px;
	padding: 10px 1px;
	margin: 15px 5px;
	background-color: #1153a0;
	cursor: pointer;
	font-size: 20px;
}

.navi-selected {
	background-color: #072F5E;
}

.navibutton:hover {
	background-color: #1068ce;
}

.navibutton a:link{
	color: #fafafa;
	text-decoration: none;
}

.navibutton a:visited{
	color: #fafafa;
	text-decoration: none;
}

.navibutton a:hover{
	color: #fafafa;
	text-decoration: none;
}

.hidden {
	display: none;
}

.banner {
	cursor: pointer;
}

.box {
	background-color: #181818;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
	border-radius: 4px;
	box-shadow: 2px 2px 33px black;
}

.google-play {
	/* margin-top: 44px; */
}

.googleplus {
	margin-top: 25px;
}

.news {
	margin-top: 65px;
}

.news-content {
	margin-top: 10px;
}