h2 {
	margin-top: 3em;
}

.working {
	color: #30f030;
}

.broken {
	color: #f03030;
}

.debug {
	display:none;
}

.block {
	margin: 1em;
	background-color: #444444;
}

.g-plusone {
	margin-top: 48px;
}

a:link {
	color:#a0a0f0;
}

a:visited {
	color:#9090f0;
}

a:hover {
	color:#9999f0;
}

a:active {
	color:#a0a0ff;
}

body {
	font-family:Consolas,Courier;
	background-color: #000000;
	color: #e0e0e0;
}

